<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.apprenderchile.apprender">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher_apprender"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_apprender_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name="com.apprenderchile.apprender.view.EncuestaActivity"
                android:theme="@style/LessonTheme"
                android:screenOrientation="portrait"/>
        <activity
                android:name="com.apprenderchile.apprender.view.IntroEncuestaActivity"
                android:theme="@style/LessonTheme"
                android:screenOrientation="portrait"/>
        <activity
                android:name="com.apprenderchile.apprender.view.LeccionLecturaTwoActivity"
                android:theme="@style/LessonTheme"
                android:screenOrientation="portrait"/>
        <activity
                android:name="com.apprenderchile.apprender.view.LeccionLecturaOneActivity"
                android:theme="@style/LessonTheme"
                android:screenOrientation="portrait"/>
        <activity
                android:name="com.apprenderchile.apprender.view.LeccionSilabasTwoActivity"
                android:theme="@style/LessonTheme"
                android:screenOrientation="portrait"/>
        <activity
                android:name="com.apprenderchile.apprender.view.LeccionSilabasOneActivity"
                android:theme="@style/LessonTheme"
                android:screenOrientation="portrait"/>
        <activity
                android:name="com.apprenderchile.apprender.view.ChapterThreeActivity"
                android:theme="@style/LessonTheme"
                android:screenOrientation="portrait"/>
        <activity
                android:name="com.apprenderchile.apprender.view.ChapterTwoActivity"
                android:label="@string/capitulo_2"
                android:screenOrientation="portrait"/>
        <activity
                android:name="com.apprenderchile.apprender.view.LeccionVocalesThreeActivity"
                android:theme="@style/LessonTheme"
                android:screenOrientation="portrait" />
        <activity
                android:name="com.apprenderchile.apprender.view.LeccionVocalesTwoActivity"
                android:theme="@style/LessonTheme"
                android:screenOrientation="portrait"/>
        <activity
                android:name="com.apprenderchile.apprender.view.LeccionVocalesOneActivity"
                android:theme="@style/LessonTheme"
                android:screenOrientation="portrait"/>
        <activity
                android:name="com.apprenderchile.apprender.view.ChapterOneActivity"
                android:label="@string/capitulo_1"
                android:screenOrientation="portrait"/>
        <activity
                android:name="com.apprenderchile.apprender.view.RegistryActivity"
                android:theme="@style/LessonTheme"
                android:screenOrientation="portrait"/>
        <activity
                android:name="com.apprenderchile.apprender.view.StartActivity"
                android:theme="@style/LessonTheme"
                android:screenOrientation="portrait"/>
        <activity
                android:name="com.apprenderchile.apprender.view.LoginActivity"
                android:theme="@style/SplashTheme"
                android:screenOrientation="portrait"/>
        <activity
                android:name="com.apprenderchile.apprender.view.SplashActivity"
                android:theme="@style/SplashTheme"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name="com.apprenderchile.apprender.view.MainActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name="com.apprenderchile.apprender.view.WalkthroughActivity"
                android:theme="@style/WalkthroughTheme"
                android:screenOrientation="portrait"/>
    </application>

</manifest>