<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.example.apprender">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".view.EncuestaActivity"
                android:theme="@style/LessonTheme"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".view.IntroEncuestaActivity"
                android:theme="@style/LessonTheme"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".view.LeccionLecturaTwoActivity"
                android:theme="@style/LessonTheme"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".view.LeccionLecturaOneActivity"
                android:theme="@style/LessonTheme"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".view.LeccionSilabasTwoActivity"
                android:theme="@style/LessonTheme"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".view.LeccionSilabasOneActivity"
                android:theme="@style/LessonTheme"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".view.ChapterThreeActivity"
                android:theme="@style/LessonTheme"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".view.ChapterTwoActivity"
                android:label="@string/capitulo_2"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".view.LeccionVocalesThreeActivity"
                android:theme="@style/LessonTheme"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".view.LeccionVocalesTwoActivity"
                android:theme="@style/LessonTheme"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".view.LeccionVocalesOneActivity"
                android:theme="@style/LessonTheme"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".view.ChapterOneActivity"
                android:label="@string/capitulo_1"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".view.RegistryActivity"
                android:theme="@style/LessonTheme"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".view.StartActivity"
                android:theme="@style/LessonTheme"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".view.LoginActivity"
                android:theme="@style/SplashTheme"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".view.SplashActivity"
                android:theme="@style/SplashTheme"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".view.MainActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".view.WalkthroughActivity"
                android:theme="@style/WalkthroughTheme"
                android:screenOrientation="portrait"/>
    </application>

</manifest>